#home {
    background-image: url("../imgs/handshake.webp");
    background-size: cover;       /* Scales the image to fill the container */
    background-position: center;  /* Centers the image so cropping happens evenly */
    background-repeat: no-repeat; /* Prevents the image from repeating */
}

#listings {
    background-image: url("../imgs/paperwork.webp");
    background-size: cover;       /* Scales the image to fill the container */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    background-attachment: scroll; /* This forces the image to move as the page scrolls */
}

#home p {
    margin: 0;
}

.search_box {
    background-color: #073d9bac;
    color: white;
    border-radius: 5px;
}

.search_form {
    width: 100%;
}

#title_holder {
    font-weight: 700;
}

#title_holder h1 {
    font-family: "Inria Serif", serif;
    font-size: 40pt;
}

#title_holder h2 {
    font-style: italic;
}

#title_holder a {
    color: rgb(92, 214, 255);
}

#inspire_txt {
    font-size: 14pt;
    font-style: italic;
}

.author_txt {
    color: rgb(33, 33, 33);
}

.job_postings p {
    margin: 0;
}

.card-title {
    margin: 0;
    font-weight: bold;
}

.company_name {
    font-weight: bold;
}

.location {
    font-style: italic;
    color: rgb(68, 68, 233);
}

.apply_btn {
    font-weight: bold;
}